.flag {
  width: 300px;
  height: 500px;
  margin: auto;
  border-left: 4px solid brown;
}
#topLayer {
  width: 300px;
  height: 100px;
  background-color: #ff9933;
}
#middleLayer {
  width: 96px;
  height: 96px;
  border: 2px solid blue;
  border-radius: 50px;
  margin: 2px auto;
}
#middleLayer li {
  width: 94px;
  border: 1px solid blue;
  list-style: none;
  position: relative;
  background-color: blue;
}
li:nth-child(1) {
  top: 47px;
}
li:nth-child(2) {
  top: 45px;
  transform: rotate(90deg);
}
li:nth-child(3) {
  top: 43px;
  transform: rotate(15deg);
}
li:nth-child(4) {
  top: 41px;
  transform: rotate(30deg);
}
li:nth-child(5) {
  top: 39px;
  transform: rotate(45deg);
}
li:nth-child(6) {
  top: 37px;
  transform: rotate(60deg);
}
li:nth-child(7) {
  top: 35px;
  transform: rotate(75deg);
}
li:nth-child(8) {
  top: 33px;
  transform: rotate(105deg);
}
li:nth-child(9) {
  top: 31px;
  transform: rotate(120deg);
}
li:nth-child(10) {
  top: 29px;
  transform: rotate(135deg);
}
li:nth-child(11) {
  top: 27px;
  transform: rotate(150deg);
}
li:nth-child(12) {
  top: 25px;
  transform: rotate(165deg);
}

#bottomLayer {
  width: 300px;
  height: 100px;
  background-color: #138808;
}
